*{
    margin: 0; 
}
.pagehead{
    text-align: center;
    background-color: black;
    padding:3 rem ;
}
.project{
    color: aliceblue;

    font-size: 3rem;
}

.content{
    
    color:black;
    padding-left: 3rem;
}


